.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.input {
    padding: 5px 15px;
}

.button {
    padding: 5px 15px;
    font-size: 14px;
    background-color: silver;
    cursor: pointer;
    border: 1px solid silver;
}